/node_modules
.env
/models/Users.ts



TODO: crear imagen de docker y levantar contenedor
guia : https://www.digitalocean.com/community/tutorials/how-to-build-a-node-js-application-with-docker-quickstart-es